 <header class="hero">  
  <div class="container banner-margin-top">
    <div class="row">      
      <section class="header_content">
        <h1 ><span>increase.</span><br> <span class="bold-banner-txt">connect & support</span><!-- <span class="what-yuo-build-txt">#whatwillyoubuild</span> --></h1>
        <!-- <p class="banner-txt">The Online Work Showcase for Software Developers, enhance and connect your entire work footprint with one click.</p> -->
        <section class="email_register ">
          <%= form_for :developer, url: developers_path do |f| %>
            <div class="form-group">
              <label for=""> Developer's Register now for early access </label><br>
              <div class="form-wrap">
                <%= f.text_field :email, class: "form-control", placeholder: "Enter your email address" %>
                <button type="submit" class="btn btn-default email-submit-btn">Submit</button>
              </div>            
            </div>
          <%end%>
        </section>       
      </section>
    </div>
  </div>
  <div id="navigation">
    <nav class="navbar navbar-default main-navbar">
      <div class="container">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="banner-nav navbar-brand page-scroll" href="/">
              <%=image_tag ("nav-logo.png") %><!--  <span><span>Node</span>Bomb</span> -->
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                <a href="#page-top"></a>
              </li>
              <li>          
                <a class="page-scroll" href="/about">About</a>
              </li>
              <li>
                <a class="page-scroll" href="/deck">Deck</a>
              </li>
              <li>
                <a class="page-scroll" href="#" data-toggle="modal" data-target=".video-modal-lg">Video</a>
              </li>
              <li>
                <a class="page-scroll" href="/staff">Staff</a>
              </li>
              <li>
                <a class="page-scroll" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        <!-- /.navbar-collapse -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</header>
<!--End Header -->
<div id="myModal1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header deck-pop">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">I'M INTERESTED IN INVESTING</h4>
      </div>
      <div class="modal-body">
        <form action="https://getsimpleform.com/messages?form_api_token=b5ff46c898c2ab938350fa6ceb999eff" method="post">
          <input type='hidden' name='redirect_to' value=<%= root_url%> />
          <p>Please enter your reservation amount. This is a non-binding soft reservation. A company representative will be notified and you'll have an opportunity to contact.</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">$</span>
            <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)" pattern="[0-9]*" title="Enter numbers only." placeholder="Amount" required>
          </div>
          <h4 class="Comments-hd">Email</h4>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
          <h4 class="Comments-hd">Contact Number</h4>
          <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Contact Number" pattern="[0-9]*" title="Enter numbers only." required>
          <h4 class="Comments-hd">Comments or Questions (optional)</h4>
          <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message." name="message"></textarea>
          <p class="help-block text-danger"></p>
            <div class="modal-footer">
              <button id="invester-form" type="submit" class="btn btn-default request-btn">MAKE A RESERVATION</button>
            </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- NodeBomb presention -->
<section class="presentation">
  <div class="container">
    <section class="row">
      <div class="">
        <header>
          <h2 class="section-heading"><span>NodeBomb</span> Presentation</h2>
          <div class="heading-border"></div>
          <div class="sub_heading">
            <span>Location <a href="#">Culver City, CA</a></span> | <span>Speaker <a href="#">Danso Gordon</a> </span> 
          </div>
        </header>
      </div>
      <div class="col-md-12">
        <div class="presentation_video">
          <iframe width="825" height="490" src="https://www.youtube.com/embed/-D0hesKR180" frameborder="0" allowfullscreen></iframe>
        </div>
        <article>
          <p class="Presentation-article"> <span class="invrt-coma">“</span> One of the fastest growing professions in the world...currently the demand to support that voice, outweighs the supply <span class="invrt-coma">”</span>
          </p>
        </article>
      </div>
    </section> 
  </div>
</section>
<!--End NodeBomb presention -->
<!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row team">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="col-sm-12">
        <div class="team_member text-center">
          <div class="team_images mem1"></div>
          <h4><span class="story-prsn-name"><strong>Eric</strong></span> <span>USA</span></h4>
          <p>" I created a profile and<br>just landed my dream job"</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="col-sm-12">
        <div class="team_member text-center">
          <div class="team_images mem2"></div>
          <h4><span class="story-prsn-name"><strong>Amit</strong></span> <span>Bangladesh</span></h4>
          <p> " Instantly increases my job opportunities because I'm competing against a smaller pool of developers "</p>                      
        </div>
      </div>
    </div>
    <div class="item">
      <div class="col-sm-12">
        <div class="team_member text-center">
          <div class="team_images mem3"></div>
          <h4><span class="story-prsn-name"><strong>Pavel</strong></span> <span>Canada</span></h4>
          <p> "  The Q&A Groups helped me fix <br>a bug in my code "</p>                      
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
 
</div>



      <!-- <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem2"></div>                        
          <h4><span class="story-prsn-name"><strong>Amit</strong></span> <span>Bangladesh</span></h4>
          <p>"Instantly my job opportunities because I'm competing against a smaller pool of developers"</p>                       
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team_member text-center">
          <div class="team_images mem3"></div>

          <h4><span class="story-prsn-name"><strong>Pavel</strong></span> <span>Canada</span></h4>
          <p> "The Q&A Groups helped me fix a bug in my code"</p>                       
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- NodeBomb community -->
<section id="community" >
  <div class="container">
    <div class="row community-row">
      <div class="col-md-12 text-center">
        <h2 class="community-section-heading"><span>Join the</span> nodeBomb community</h2>
        <div class="heading-border"></div>
        <h3 class="community-2-heading">in 1-2-3-4</h3>
      </div>
      <div class="row community_blocks">
        <div class="container">
          <div class="col-md-3 text-center">
            <div class="node-bomb-community">
              <div class="community-btns ">
                <%= image_tag("create-portfolio.png", :alt => "community icon") %>
              </div>
              <h3>Create a work portfolio!</h3>
              <p class="community-txt-1">Quickly enhance your work profile and increase your work opportunities with an online portfolio.</p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="node-bomb-community">
              <div class="community-btns ">
                <%= image_tag("connect-developer.png", :alt => "community icon") %>
              </div>
              <h3>Connect with Developers across the globe</h3>
              <p class="community-txt-2">Connect with developers across the globe, follow each other, share ideas, share code and more.</p>
            </div>
          </div>          
          <div class="col-md-3  text-center">
            <div class="node-bomb-community">
              <div class="community-btns ">
                <%= image_tag("join-group.png", :alt => "community icon") %>
              </div>
              <h3>Search and join Q&A Groups</h3>
              <p class="community-txt-3">Search any programming topic or language that interests you and quickly join our group communities and discussions.</p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="node-bomb-community">
              <div class="community-btns ">
                <%= image_tag("startup-with-invester.png", :alt => "community icon") %>
              </div>          
              <h3>Startups connect with Investors</h3>
              <p class="community-txt-4">Startups that meet the criteria can easily post their work to our exponentially growing list of VC's and Angel Investors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End NodeBomb community -->


<!-- Showcace -->
<section id="showcase">
  <div class="container text-center">
    <div class="row">
      <div class="displaying-section-heading">
        <h2>Use easily <br> <span>on any devices</span></h2>
        <div class="heading-border"></div>
      </div>
      <%=image_tag("desk-group-2.png", :alt => "Displaying layout") %>
    </div>
  </div>
</section>
<!-- End Showcace -->
<!-- bottom register form -->
<section id="bottom-register-form">
  <div class="container">
    <section class="bottom-email_register">
        <%= form_for :developer, url: developers_path do |f| %>
          <div class="col-md-6 form-group">
            <label for=""> Developer's Register now  for early access</label><br>
          </div>
          <div class="col-md-6 form-wrap bottom-form-wrap text-right">
            <%= f.text_field :email, class: "form-control", placeholder: "Enter your email address" %>
            <button type="submit" class="btn btn-default email-submit-btn bottom-email-submit-btn">Submit</button>
          </div> 
          </div>
        <%end%>
    </section> 
  </div>
</section>