
<section id="staff">
  <div class="heading-bg row">
    <div class="container">
      <div class="text-left">
        <h2 class="section-heading">Meet the NodeBomb Team</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
  </div>

  <section class="row bg-gery">
    <div class="col-md-6">
      <div class="staff-info">
        <h2>Danso Gordon</h2>
        <div class="name-border"></div>
        <div class="subheading">
          <strong>Founder</strong>
          <span class="university-name">UCLA</span>
        </div>
        
        <p>A UCLA Science graduate, his diverse experience in film & television as well as his recent studies towards a second BS in Computer Science has given him a refreshing approach towards the tech industry. After 10 years in the film industry, being a part of projects that have awards in Sundance and Cannes, to a clothing line he designed/founded that expanded its reach worldwide, from Japan to Puerto Rico, Danso has set his sites on the tech industry. His keen eye towards design and back end development as well as his professional reach gives NodeBomb a huge advantage.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="staff-img">
        <%= image_tag ('staff-mem-1.png')%>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <div class="staff-img">
        <%= image_tag ('staff-mem-2.png')%>
      </div>
    </div>    
    <div class="col-md-6">
      <div class="staff-info ">
        <h2>Rene Zelaya</h2>
        <div class="name-border"></div>
        <div class="subheading">
          <strong>Graphic Designer</strong>
          <span class="university-name">San Francisco Art Institude</span>
        </div>
        <p>As a UX/UI Rene loves to Figure out what makes people tick and connecting users to their goals is where he finds success. Starting as a graphic designer out of art school Rene quickly broadened his interest in web design and eventually UX/UI design. Working with an educational startup Rene discovered his passion for mobile for mobile UX/UI work winning 3rd place at the UCSB New Venture Competition with his mobile app prototype. Since leaving Napses Rene has done freelance web design and development as well as UX consulting for space Rocket - a creative agency based in San Francisco. He has experience in User Research, Information Architecture and Visual Design.</p>
      </div>
    </div>
  </section>
  <section class="row bg-gery">
    <div class="col-md-6">
      <div class="staff-info ">
        <h2>Ali Amirazizi</h2>
        <div class="name-border"></div>
        <div class="subheading">
          <strong>Front End Developer</strong>
          <span class="university-name"> CS University Long Beach</span>
        </div>
        <p>With more than 3 years of experience in IT, startups, customer service, sales, and marketing, Ali has launched a new career in web development. Specializing in front end development he is experienced with all stages of the development cycle for dynamic web projects. He is well versed in numerous programming language including JavaScript, SQL, and PHP. Prior to joining NodeBomb, Ali worked for a software startup called Kuapay where he specialized in providing IT support. He organized marketing campaigns, and assisted with daily operations. He also worked as a QA gane tester for Square-Enix, a Japanese video company. Ali has a degree in philosophy and is currently pursing a second degree in computer science.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="staff-img">
        <%= image_tag ('staff-mem-3.png')%>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <div class="staff-img">
        <%= image_tag ('staff-mem-4.png')%>
      </div>
    </div>
    <div class="col-md-6">
      <div class="staff-info ">
        <h2>Ratanak Chheang</h2>
        <div class="name-border"></div>
        <div class="subheading">
          <strong>Back End Developer</strong>
          <span class="university-name"> Norton University</span>
        </div>
        <p>Ratanak has been charging through the tech industry for the last three years with an expertise in full-stack (front/back-end) development. He began his career in IT support for a non profit organization and successfully built a website for an internal phone extension directory for all of the employees. After graduating from developer bootcamp, he received invaluable experience working as the back-end developer for the start-up company, GameKulture Inc. Also during that time, fueled by his strong passion for development, Ratanak gained invaluable experience by creating his own startup company with a realtor business. “I love to ask people question and give ideas about the future features that end users need ".
        </p>
      </div>
    </div>
  </section>
  <section class="row bg-gery">
    <div class="col-md-6">
      <div class="staff-info ">
        <h2>Karyn Martin</h2>
        <div class="name-border"></div>
        <div class="subheading">
          <strong>  Public Relations</strong>
          <span class="university-name">UMASS, Amherst</span>
        </div>
        <p>Karyn has more than 15 years of public relations experience representing technology, consumer packaged goods, retail, travel, B2B, and health care clients. Karyn specializes in developing and managing integrated public relations programs for clients including NxStage Medical, The Yankee Candle Company, BAILEYS Coffee Creamers and more. She currently servers as President of the Publicity Club of New England.
        Prior to joining 451 Marketing, Karyn spent five years at Emerge PR, representing a wide range of local and national clients inculiding, Cartessis, CSG Systems, Harte-Hanks, Information Builders, Tizor and Trillium software. Karyn is an award-winning PR practitioner and has been published multiple times in PR trade publications.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="staff-img">
        <%= image_tag ('staff-mem-5.png')%>
      </div>
    </div>
  </section>
  <section class="row">
      <div class="col-md-6">
        <div class="staff-img">
          <%= image_tag ('staff-mem-6.png')%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="staff-info ">
          <h2>Tyrone Pardue</h2>
          <div class="name-border"></div>
          <div class="subheading">
            <strong> Branding</strong>
            <span class="university-name">College of Marketing & Design</span>
          </div>
          <p> As Director of Branding at 451 Marketing, Tyrone brings over 25 years of international branding and creative experience to our firm. Tyrone helps companies develop winning strategies to strengthen brand presence, increase sales and forge strong customer relationships. Tyrone’s specialties include brand and corporate identity development, corporate communications, information design, product packaging, corporate and marketing collateral. Selected client experience includes Yoplait, The Irish Dairy Board, DCC plc, Flogas pic, Bank of Ireland Group, North Star Bank, Flagship Bank, Yell U.k., Directel China/Portugal, Joffrey’s Coffee & Tea Company, BICSI, and the rebranding of Ireland’s national public transport agency, CIE Group.</p>
        </div>
      </div>
  </section>
    <section class="row bg-gery">
      <div class="col-md-6">
        <div class="staff-info ">
          <h2>Francis Skipper</h2>
          <div class="name-border"></div>
          <div class="subheading">
            <strong>Digital Marketing</strong>
            <span class="university-name">Cambridge College</span>
          </div>
          <p> With more than 14 years of experience in global digital marketing, Francis oversees digital media campaigns that include media planning, SEO, PPC, display advertising, remarketing, out-of-home and social media marketing/advertising. As an experienced senior manager and business development driver, Francis has led successful online marketing campaigns for Fortune 500 level companies in the pharmaceutical, consumer packaged goods, healthcare, consumer electronics, B2B and retail spaces. Selected B2B and consumer clients include Bob’s Discount Furniture, AstraZeneca, Hood, The college of Healthcare Professions, and Ericsson. Prior to joining 451 Marketing , Francis worked in new business development and sales at iProspect where his clients included TiVo, Harry and David, Shop.com and Equinix. Prior to his experience with iProspect, Francis served as director of technology at Catalyst Online where he worked with clients including Pfizer, Novartis, Boehringer Ingleheim, and Procter and Gamble.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="staff-img">
          <%= image_tag ('staff-mem-7.png')%>
        </div>
      </div>
  </section>
</section>